/*Selector universal*/
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
    font-family: "Anaheim", sans-serif;
    background-color: rgb(65, 80, 94);
    
}
main{
    /*Ajustar las tarjetas a varias lineas*/
    display: flex;
    flex-wrap: wrap;
}
h1{
    text-align: center;
    color: rgb(255, 255, 255);
}

.anaheim-fuente {
    font-family: "Anaheim", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500px;
    font-style: normal;
  }
  
  
.tarjeta{
    width: 300px;
    background-color: rgb(202, 193, 177);
    border-radius: 3%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 12px;
    border: 1px solid black;
    transition: all 0.4s ease ease-in-out;/*Transición suave*/
   
}
.tarjeta:hover{
    background-color: bisque;
    transform: scale(1.05);
    transform: rotate(3deg);
}
.titulo-tarjetas{
margin-bottom: 10px;
}
.tarjeta .imagen{
    width: 200px;
}
.tarjeta img{
    width: 120px;
    height: 120px;
   object-fit: cover;
    border-radius: 5%;
   
}
.tarjeta p{
    color: rgb(0, 0, 0);
    font-size: 20px;
}
/* Selector de tipo ID (es unico)*/
#lince{
    color: rgb(38, 61, 82);
}
#lobo{
    color: rgb(55, 43, 10);
}